$def with (info)

<style type="text/css">

    p.quote {
            font-size: x-large;
            font-family: "Donegal One", sans-serif;
    }

    p.author {
            color: #cdcdcd;
            font-size: large;
            font-family: Rambla, sans-serif;
    }

    p.source {
            color: #dbdbdb;
            font-style: italic;
            font-size: large;
            font-family: Rambla;
    }
    p.resource {
        font-size: medium;
        font-family: Rambla, sans-serif;
    }

    a.resource {
        color: #2790b5;
    }


</style>

<link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rambla:400,400italic' rel='stylesheet' type='text/css'>
    
<body>
    <p class="quote">This isn't the page you were looking for...</p>
    <p class="quote">Ce&ccedil;i n'est pas le page que vous cherchiez... </p>
</body>